<div class="row">
    <div class="col-xs-3">
        <h4>Tickets available for:</h4>
    </div>
    <div class="col-xs-3">
        <input type="text" class="form-control" placeholder="Search a movie" ng-model="search">
    </div>
</div>
<h4>Movie screen</h4>
<br>
<ul>
    <li ng-repeat="movie in movies|orderBy:'name':true|filter:search">
        {{movie.name}}-{{movie.IMDB}}
        <a href="javascript:" ng-click="getMovieById(movie.id)">Availability</a>
        <a ng-href="#/movie/{{movie.id}}" ng-click="getMovieById(movie.id)">Review</a>
    </li>
</ul>
<br>
<label ng-show="currMovie">Availabilty for {{currMovie.name}} is {{currMovie.Availability}}</label>
